<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwitchSendkey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SwitchSendkey.Properties.Settings>
            <setting name="SW_1" serializeAs="String">
                <value>{ENTER}</value>
            </setting>
            <setting name="SW_2" serializeAs="String">
                <value>ABCDE</value>
            </setting>
            <setting name="SW_3" serializeAs="String">
                <value>{RIGHT}</value>
            </setting>
            <setting name="SW_4" serializeAs="String">
                <value>{LEFT}</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>COM3</value>
            </setting>
        </SwitchSendkey.Properties.Settings>
    </userSettings>
</configuration>